@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-tc);
  --font-mono: var(--font-noto-sans-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

img{
  @apply 
    object-cover
    /* object-center; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), var(--font-mono), Arial, Helvetica, sans-serif;
  @apply 
    min-h-screen;
}

@keyframes flashing {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.loading_flashing{
  animation-name: flashing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.rwd_container{
  @apply
    container
    mx-auto
    px-4
    md:px-6
    lg:px-8;
}

.header {
  /* background-color: var(--background); */
  @apply
    py-3
    px-4
    w-full
    bg-stone-700
    flex
    justify-between
    items-center
    sticky
    top-0
    z-50;

  &_logo {
    @apply
      invert-100;
  }

  .nav {
    @apply
      flex gap-4;
    ul {
      @apply
        /* mx-auto px-10 */
        flex
        justify-end
        items-center
        flex-wrap
        gap-4;
      li{
        /* color: var(--foreground); */
        @apply
         /* text-stone-700  */
         text-stone-400
          relative
          transition-all
          duration-300
          ease-in-out;
        &:after{
          content: '';
          background-color: var(--foreground);
          @apply
            w-0 h-0.5 
            /* bg-stone-400 */
            absolute left-0 bottom-0
            transition-all duration-300 ease-in-out;
        }
        &:hover, &.active{
          @apply 
          text-stone-100;
          &:after{
            @apply
              w-full;
             /* bg-stone-700; */
          }
        }
      }
    }
  
    .md\:nav_list {
      @apply
      hidden
      md:flex;
    }
  
  }
  .md\:nav_menu {
    @apply 
      text-stone-700
      block
      md:hidden
      cursor-pointer;
  }

  .dark_mode {
    @apply 
      p-0.5
      bg-slate-700
      border
      border-slate-700
      rounded-full 
      hidden
      md:flex
      justify-center
      items-center gap-1
      cursor-pointer
      transition-all
      duration-300 ease-in-out
      hover:text-slate-700
      hover:bg-white
      hover:scale-105;
    .dark_icon {
      /* @apply hidden dark:block text-white; */
    }
    .light_icon {
      @apply
      block
      dark:hidden
      text-black;
    }
  } 
}

.swiper_container {
  @apply
  w-full
  h-100
  relative;
}

.banner {
  @apply
    w-full
    h-100 

    relative;
}

.home{
  &_container {
    @apply    
      my-10
      flex
      flex-col
      gap-10;
  }
  &_category {
    @apply
      pb-10
      flex
      flex-col
      gap-10;
      &_title {
        @apply
          text-3xl
          text-stone-300
          italic
          font-semibold
          text-center;
      }
      &_list{
        @apply
          grid
          grid-cols-2
          lg:grid-cols-4
          justify-center
          items-center
          gap-4;
      }
      &_item {
        @apply
          py-6
          px-4
          min-h-80
          bg-stone-600
          rounded-lg
          shadow-none
          /* [box-shadow:8px_8px_0_0_var(--color-stone-400)] */
          flex
          flex-col
          gap-2
          transition-all
          duration-300
          ease-in-out
          hover:scale-105
          hover:[box-shadow:4px_4px_0_0_var(--color-stone-400)];
          /* hover:[box-shadow:0_0_0_stone-100]; */
          &_title {
            @apply
              flex
              flex-col
              justify-between
              items-start;
            h2{
              @apply
                text-2xl
                font-bold;
            }
            p{
              @apply
                text-sm
                text-stone-300;
            }
          }
          &_content {
            @apply
              text-sm
              text-stone-300
              flex
              flex-col
              gap-2;
          }
      }
  }
}

.footer {
  @apply
    mt-30
    py-10
    px-4
    w-full
    min-h-100
    bg-stone-700
    text-stone-300;
}